_asset/img/
_library/
wp-includes/certificates/
wp-includes/css/
wp-includes/fonts/
wp-includes/ID3/
wp-includes/images/
wp-includes/js/
wp-includes/pomo/
wp-includes/SimplePie/
wp-includes/Text/
wp-content/languages/
wp-content/plugins/
wp-content/upgrade/
wp-includes/
**/*.png
**/*.txt
**/*.ttf